body{
    background: #253e37;
}

.contenedor{
    border: 2px dashed #DDD;
    padding: 5px 20px;
    border-radius: 25px;
    background-color: #b9ffe1;
    color: #002d2c;
    font-family: cursive;
    width: 600px;
    margin: auto;

}